.details-border{
    border-style: dashed;
    color: darkcyan;
    margin: 2%;
    margin-right: 10%;
    width: 90%;
    height: 800px;
}
.detail-title{
    font-size: 40px;
    float: left;
    font-weight: bold;
    color: darkcyan;
    padding-left: 15px;
}
.fa-arrow-circle-left{
    color: darkcyan;
    font-size: 40px;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 20px;
}
.fa-arrow-circle-left:hover{
    color: black;
    font-size: 40px;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 20px;
}
.pokemon-name{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 15%;
    /* padding-top: 12px; */
    text-align: center;
    margin: auto;
    padding-top: 30px;
}
.pokemon-details{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.name{
    font-size: 55px;
}
.back-button{
    border: none;
    background: none;
}
.type-weakness{
    float: left;
}
.data-title{
    text-decoration: underline;
}